mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Login
    div.form-group
      label(for="email") Email
      input(type="email"
        name="email" 
        class="form-control" 
        id="email" 
        aria-describedby="emailHelp" 
        placeholder="Enter email" required)
    div.form-group
      label(for="password") Password    
      input(type="password" 
        name="password"
        class="form-control" 
        id="password" 
        placeholder="Password" 
        required)
    input.btn.btn-primary(type="submit" value="Log in ->")